.enPratiqueContainer {
    margin: auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    .deroulement {
        width: 80%;
        margin: auto;

        h3 {
            font-size: 1.5rem;
            margin: 1.5rem 0;
            text-align: center;
        }

        strong {
            color: #B9B5D8;
            font-weight: bold;
        }

        li {
            margin-bottom: 0.5rem;
            text-align: justify;
        }
    }
}

.list-items {
    margin-top: 2rem;
    width: 50%;

    li {
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        cursor: pointer;
    }
}

.cta {
    font-size: 2em;
    transition: all .3s ease;

    &:hover a {
        color: white;
    }
}

@media only screen and (max-width:500px) {
    .list-items {
        width: 60%;
    }
}