.enTheorieContainer{
    margin: auto;
    margin-bottom: 2rem;
    padding: 2rem 0;
    background-color: #D2CFE5;

    .title{
        text-align: center;
        margin-bottom: 1rem;
    }

    .description{
        width: 80%;
        margin: auto;
    }

    .intro{
        margin-bottom: 1rem;
    }

    .items{
        margin-bottom: 1rem;
    }

    .items li{
        background-color: white;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        border-radius: 10px;
        &::before{
            content: "\2192";
            margin-right: 1rem;
        }
    }
}
