.detailTitleContainer{
    padding: 2.5rem 0;
    text-align: center;
    width: 90%;
    margin: auto;
    .title{
        font-size: 2.5em;
    }
}

.tarifContainer{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 2rem auto;
    //margin-top: -25px;
    z-index: 10;
    p{
        text-align: center;
        padding: 0 2rem;
    }
    h3{
        margin: 3rem 0;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 30%;
            height: 1px;
            background-color: black;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.tarifDetailContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;

    li.title{
        text-align: center;
        padding: .5rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        background-color: #8981E5;
        color: white;
        font-size: 1.3em;
    }
}


.more{
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    .enfant,.adulte{
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 80%;
        align-self: center;
        margin-top: -30px;
        padding: 1rem 2rem;
        transform-origin: top;
        h3{
            text-transform: uppercase;
            text-align: center;
            font-size: 2em;
            font-weight: lighter;
        }
        p{
            margin: 1rem 0;
            text-align: justify;
        }
        .btn-yoga{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            margin: auto;
            a{
                display: block;
            }
        }
    }
}


@media only screen and (max-width:1000px){
    .more{
        .card{
            width: 100%;
            margin-top: 1rem;
            h3{
                font-size: 1.3em;
            }
            .btn-yoga{
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width:785px){
    .tarifDetailContainer{
        flex-direction: column;
        align-items: center;
        .tarifAdulte{
            margin-bottom: 2rem;
        }
    }
    
    
} 


@media only screen and (max-width:750px){
    .more{
        flex-direction: column;
        align-items: center;
        .enfant,.adulte{
            width: 90%;
            margin-bottom: 1rem;
        }
    }
} 

@media only screen and (max-width:500px){
    .tarifContainer{
        width: 100%;
        margin-top: 1rem;
    }
}

