.intro{
    padding: 2rem 0;
    /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.45); */
    margin-bottom: 2rem;
    h2{
        text-transform: uppercase;
        text-align: center;
        position: relative;
        font-weight: lighter;
        &::after{
            content: '';
            position: absolute;
            bottom: -10px;
            width: 20%;
            height: 1px;
            left: 50%;
            transform: translateX(-50%);
            background-color: black;
        }
    }
}

.yoga, .sophro{
    display: flex;
    align-items: center;
    .card{
        width: 45%;
        display: flex;
        flex-direction: column;
        padding: 5rem 0;
        position: relative;
        h3,p{
            width: 50%;
            margin: auto;
            margin-bottom: 2rem;
        }
        .btn-yoga{
            width: 30%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                display: block; 
            }
        }
        h3{
            text-align: center;
            font-size: 1.5em;
        }
        p{
            text-align: justify;
        }
    }
    .illustration{
        width: 55%;
        overflow: hidden;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
}

.yoga .card{
    margin-right: -25px;
}

.transition{
    margin: 2rem 0;
    img{
        width: 100%;
        height: 60vh;
        object-fit: cover;
        object-position: center;
    }
}

@media only screen and (max-width:900px){
    .yoga,.sophro{
        .card{
            padding: 3rem 0;
            h3,p{
                width: 90%;
            }
            .btn-yoga{
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width:580px){
    .yoga,.sophro{
        .card{
            width: 60%;
        }
        .illustration{
            width: 40%;
        }
    }
    .yoga{
        margin-bottom: 2rem;
    }
}


@media only screen and (max-width:500px){
    .yoga,.sophro{
        flex-direction: column;
        .card,.illustration{
            width: 100%;
            margin: 0;
        }
        .card{
            margin-bottom: 0.5rem;
        }
        .yoga{
            margin-bottom: 1rem;
        }
    }
}


