#historique{
    margin-top: 2rem;
    p{
        text-align: justify;
        margin-bottom: 1.5rem;
    }

    .separateur{
        color: #FFA41B;
        text-align: center;
        font-size: 2rem;
    }
}