{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandrine Psychomotricienne</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    {% block head %}{% endblock %}
    <style>
        @font-face{
        font-family: 'Dancing';
        src: url('{% static "font/Dancing_Script/DancingScript-VariableFont_wght.ttf" %}');
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header class="base-header">
        <nav class="coordinates">
            <ul class="list-coordinates">
                <li><a href="tel:0615742382"><img src="{% static 'main/img/phone-call.svg' %}" alt="phone" class="tel">06 15 74 23 82</a></li>
                <li><a href="mailto:thibaultspriet@hotmail.fr"><img src="{% static 'main/img/email.svg' %}" alt="email" class="mail">sandrine.dubois.psychomot@sfr.fr</a></li>
                <li><a href="#"><img src="{% static 'main/img/location.svg' %}" alt="location" class="location">81 rue de l'enclos 59820 Tucheville</a></li>
            </ul>
        </nav>
        <nav class="rubriques">
            <div class="toggle-menu">
                <img src="{% static 'main/img/hamburger.svg' %}" alt="menu" class="hamburger">
            </div>
            <ul class="list-rubriques">
                <li><a href="{% url 'index' %}">Accueil</a></li>
                <li><a href="{% url 'presentation' %}">Présentation</a></li>
                <li><a href="#">Psychomotricité</a></li>
                <li><a href="#">Sophrologie-Yoga</a></li>
                <li><a href="{% url 'rendez_vous' %}">Rendez-Vous</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>

            <ul class="list-rubriques-mobile">
                <li><a href="{% url 'index' %}">Accueil</a></li>
                <li><a href="{% url 'presentation' %}">Présentation</a></li>
                <li><a href="#">Psychomotricité</a></li>
                <li><a href="#">Sophrologie-Yoga</a></li>
                <li><a href="{% url 'rendez_vous' %}">Rendez-Vous</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-infos">
            <ul class="footer-liens footer-infos-item">
                <li class="footer-title">Liens utiles</li>
                <li><a href="#">Résodys</a></li>
                <li><a href="#">Dyspraxies France</a></li>
                <li><a href="#">F.F.D.Y.S.</a></li>
                <li><a href="#">INSHEA</a></li>
                <li><a href="#">Centre de ressources autisme</a></li>
            </ul>
            <ul class="footer-coordinate footer-infos-item">
                <li class="footer-title">Coordonnées</li>
                <li><a href="tel:0615742382" class="tel"><img src="{% static 'main/img/phone-call.svg' %}" alt="phone" class="tel">: 06 15 74 23 82</a></li>
                <li><a href="mailto:thibaultspriet@hotmail.fr" class="mail"><img src="{% static 'main/img/email.svg' %}" alt="email" class="mail">: sandrine.dubois.psychomot@sfr.fr</a></li>
                <li><a href="#" class="addresse"><img src="{% static 'main/img/location.svg' %}" alt="location" class="location">: 81 rue de l'enclos 59820 Tucheville</a></li>
            </ul>
            <div class="footer-rdv footer-infos-item">
                <h2 class="footer-title">Rendez-vous</h2>
                <p>Jours de consultation :<br>Lundi, Mardi, Jeudi, Vendredi</p>
                <a href="#" class="btn footer-btn">Prendre rendez-vous</a>
            </div>
        </div>
        <div class="copyright">
            <p>2020 par Thibault SPRIET</p>
        </div>

    </footer>

    <script src="{% static 'js/jquerry.js' %}"></script>
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'main/js/menu.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>