{% extends 'main/base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/bilan.css' %}">
{% endblock head %}

{% block content %}

    <header class="containerCover">
        <img src="{% static 'main/img/cover-bilan.png' %}" alt="developpement psychomoteur" class="cover">
    </header>

    <div class="pourquoiContainer shadow">
        <div class="shadow background">
            <h2 class="title">
                Pourquoi un examen psychomoteur ?
            </h2>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis adipisci molestiae quidem ipsa cupiditate odio maxime, accusantium ratione aliquid culpa, officiis harum eligendi recusandae eaque nostrum. Perferendis omnis aut in.Temporibus aperiam ex quasi officia quaerat nisi voluptatem maxime fuga beatae at, aspernatur iure explicabo praesentium quis eos molestiae quo velit illum non. Necessitatibus sequi iure ut minus laudantium obcaecati?</p>
    </div>

    <div class="grid">
        <div class="card background shadow">
            <h2 class="title">Déroulement</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque voluptas laboriosam tempore cumque perspiciatis perferendis repellendus voluptatem, ducimus quam iure doloribus voluptatum. Ad incidunt sint accusantium eligendi quas ipsum deleniti?Ad incidunt repudiandae inventore minima molestiae magnam sed obcaecati quidem eveniet quaerat cupiditate quia, esse voluptatibus. Reiciendis, sint impedit perspiciatis, molestiae voluptas assumenda, laudantium veritatis maxime iste deserunt quaerat! Accusamus?</p>
        </div>
        <div class="card background shadow">
            <h2 class="title">Entretien</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque voluptas laboriosam tempore cumque perspiciatis perferendis repellendus voluptatem, ducimus quam iure doloribus voluptatum. Ad incidunt sint accusantium eligendi quas ipsum deleniti?Ad incidunt repudiandae inventore minima molestiae magnam sed obcaecati quidem eveniet quaerat cupiditate quia, esse voluptatibus. Reiciendis, sint impedit perspiciatis, molestiae voluptas assumenda, laudantium veritatis maxime iste deserunt quaerat! Accusamus?</p>
        </div>
        <div class="card background shadow">
            <h2 class="title">Passation de tests</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque voluptas laboriosam tempore cumque perspiciatis perferendis repellendus voluptatem, ducimus quam iure doloribus voluptatum. Ad incidunt sint accusantium eligendi quas ipsum deleniti?Ad incidunt repudiandae inventore minima molestiae magnam sed obcaecati quidem eveniet quaerat cupiditate quia, esse voluptatibus. Reiciendis, sint impedit perspiciatis, molestiae voluptas assumenda, laudantium veritatis maxime iste deserunt quaerat! Accusamus?</p>
        </div>
        <div class="card background shadow">
            <h2 class="title">Restitution</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque voluptas laboriosam tempore cumque perspiciatis perferendis repellendus voluptatem, ducimus quam iure doloribus voluptatum. Ad incidunt sint accusantium eligendi quas ipsum deleniti?Ad incidunt repudiandae inventore minima molestiae magnam sed obcaecati quidem eveniet quaerat cupiditate quia, esse voluptatibus. Reiciendis, sint impedit perspiciatis, molestiae voluptas assumenda, laudantium veritatis maxime iste deserunt quaerat! Accusamus?</p>
        </div>
    </div>

{% endblock content %}

{% block script %}
{% endblock script %}