{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block content %}
    <main class="presentation">
        <div class="container-portrait">
            <img src="{% static 'main/img/home_portrait.jpg' %}" alt="portrait">
        </div>
        <div class="container-presentation">
            <h1>Sandrine Dubois</h1>
            <h2>Psychomotricité - Yoga - Sophrologie</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut dolorem perferendis quod consectetur adipisci? Omnis aliquam eaque, delectus odit placeat minima itaque similique temporibus, error, necessitatibus eligendi deserunt a fugiat!
            Quia voluptatem nostrum dolorum, hic aspernatur ipsa molestias dolor asperiores illum ipsam fugiat omnis placeat natus mollitia veniam exercitationem facilis! Consequuntur, eveniet ipsam quas exercitationem ipsa voluptate? Tempore, itaque ex.
            Voluptates id cumque vero aliquam natus magnam repellat repudiandae, aliquid placeat ab molestiae ex quaerat dicta eius laboriosam dolorem consectetur nam a veniam. Dolorem, quae ipsum? Consectetur mollitia aliquid quam?
        </div>
    </main>

    <section class="psychomotricienne">
        <div class="separateur-vertical"></div>
        <div class="psychomotricite">
            <h1>Psychomotricienne Lille</h1>
            <p>Premièrement, la psychomotricité s’intéresse à l’individu dans sa globalité. Elle s’appuie en effet sur les liens étroits qui unissent le corps et le psychisme</p>
            <ul>
                <li class="container-item-description">
                    <div class="container-cross"><div class="line1"></div><div class="line2"></div></div>La psychomotricité
                    <div class="description">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus natus exercitationem optio tenetur omnis officiis atque dolorum porro nam esse odit doloremque velit, iste repudiandae cum blanditiis iusto incidunt modi.
                    Molestiae veniam autem esse vel quam, ex eum voluptatum delectus vero porro dolore! Quo consequatur pariatur sequi molestiae blanditiis neque ducimus animi voluptate harum commodi, atque velit, assumenda ipsam consequuntur.
                    Explicabo aspernatur tenetur voluptatum temporibus voluptates sequi sint cumque quis consequatur quaerat rerum enim velit, sapiente quibusdam? Nulla ex aliquid odio, tempora cupiditate doloremque sint, ipsum, est dolorem perferendis nihil?</p>
                    </div>
                </li>
                <li class="container-item-description">
                    <div class="container-cross"><div class="line1"></div><div class="line2"></div></div>La psychomotricienne
                    <div class="description"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus natus exercitationem optio tenetur omnis officiis atque dolorum porro nam esse odit doloremque velit, iste repudiandae cum blanditiis iusto incidunt modi.
                    Molestiae veniam autem esse vel quam, ex eum voluptatum delectus vero porro dolore! Quo consequatur pariatur sequi molestiae blanditiis neque ducimus animi voluptate harum commodi, atque velit, assumenda ipsam consequuntur.
                    Explicabo aspernatur tenetur voluptatum temporibus voluptates sequi sint cumque quis consequatur quaerat rerum enim velit, sapiente quibusdam? Nulla ex aliquid odio, tempora cupiditate doloremque sint, ipsum, est dolorem perferendis nihil?</p></div>
                </li>
                <li class="container-item-description">
                    <div class="container-cross"><div class="line1"></div><div class="line2"></div></div>Le champ de compétence
                    <div class="description"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus natus exercitationem optio tenetur omnis officiis atque dolorum porro nam esse odit doloremque velit, iste repudiandae cum blanditiis iusto incidunt modi.
                    Molestiae veniam autem esse vel quam, ex eum voluptatum delectus vero porro dolore! Quo consequatur pariatur sequi molestiae blanditiis neque ducimus animi voluptate harum commodi, atque velit, assumenda ipsam consequuntur.
                    Explicabo aspernatur tenetur voluptatum temporibus voluptates sequi sint cumque quis consequatur quaerat rerum enim velit, sapiente quibusdam? Nulla ex aliquid odio, tempora cupiditate doloremque sint, ipsum, est dolorem perferendis nihil?</p></div>
                </li>
                <li class="container-item-description">
                    <div class="container-cross"><div class="line1"></div><div class="line2"></div></div>Les objectifs
                    <div class="description"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus natus exercitationem optio tenetur omnis officiis atque dolorum porro nam esse odit doloremque velit, iste repudiandae cum blanditiis iusto incidunt modi.
                    Molestiae veniam autem esse vel quam, ex eum voluptatum delectus vero porro dolore! Quo consequatur pariatur sequi molestiae blanditiis neque ducimus animi voluptate harum commodi, atque velit, assumenda ipsam consequuntur.
                    Explicabo aspernatur tenetur voluptatum temporibus voluptates sequi sint cumque quis consequatur quaerat rerum enim velit, sapiente quibusdam? Nulla ex aliquid odio, tempora cupiditate doloremque sint, ipsum, est dolorem perferendis nihil?</p></div>
                </li>
            </ul>
        </div>
        <div class="role">
            <h1>Le rôle de la psychomotricienne</h1>
            <ul>
                <li><img src="{% static 'main/img/icon1.png' %}" alt="icon" class="icon"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p></li>
                <li><img src="{% static 'main/img/icon2.png' %}" alt="icon" class="icon"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p></li>
                <li><img src="{% static 'main/img/icon3.png' %}" alt="icon" class="icon"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p></li>
                <li><img src="{% static 'main/img/icon4.png' %}" alt="icon" class="icon"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p></li>
                <li><img src="{% static 'main/img/icon5.png' %}" alt="icon" class="icon"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p></li>
                <li><img src="{% static 'main/img/icon6.png' %}" alt="icon" class="icon"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p></li>
            </ul>
        </div>
    </section>
    <section class="pourqui">
        <h1>à qui s'adresse la psychomotricité ?</h1>
        <div class="card-container">
            <div class="card">
                <div class="container-cover">
                    <img src="{% static 'main/img/bebe.jpg' %}" alt="bebe">
                </div>
                <h3>Parents - Bébés</h3>
                <div class="separateur-horizontal"></div>
                <p>Relations précoces - Développement psychomoteur - Guidance parentale</p>
            </div>
            <div class="card card-center">
                <div class="separateur-gauche"></div>
                <div class="separateur-droite"></div>
                <div class="container-cover">
                    <img src="{% static 'main/img/enfant.jpg' %}" alt="enfant">
                </div>
                <h3>Enfants - Adolescents</h3>
                <div class="separateur-horizontal"></div>
                <p>Apprentissages - Comportements - Rééducation</p>
            </div>
            <div class="card">
                <div class="container-cover">
                    <img src="{% static 'main/img/adulte.jpg' %}" alt="adulte">
                </div>
                <h3>Adultes</h3>
                <div class="separateur-horizontal"></div>
                <p>Gestion des émotions - Maladies, handicaps - Vécu corporel douloureux</p>
            </div>
        </div>
    </section>
    <section class="map">
        <h1>Me situer</h1>
        <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJB4Kp5ezZwkcRdMtn6AKhNkQ&key=AIzaSyAr1FvQn5YNoRkrlR_7vJLtYsnQHGZdNsY" allowfullscreen></iframe>
    </section>
{% endblock %}

{% block script %}
<script src="{% static 'main/js/toggledescription.js' %}"></script>
<script src="{%  static 'main/js/icon_scroll.js'%}"></script>
{% endblock %}



