{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block content %}
<main class="presentation">
    <div class="container-portrait">
        <img src="{% static 'main/img/home_portrait.jpg' %}" alt="portrait">
    </div>
    <div class="container-presentation">
        <h1>Sandrine Dubois</h1>
        <h2>Psychomotricité <br> Yoga - Sophrologie</h2>
        <p>
            Psychomotricienne DE , j'accompagne toute personne adulte, adolescent et enfant dans sa
            singularité.
        </p>

        <p>
            Forte de mon expérience, j’ai un parcours riche et varié:
        </p>

        <p class="highlight">
            Psychomotricienne en Institut d’Education Motrice auprès d’enfants et adolescents porteurs d’un handicap
            moteur et de troubles associés ( sensoriels, troubles de la relation, T.S.A, retard intellectuel…)
        </p>

        <p class="highlight">
            Enseignante à l’Institut de Formation de Psychomotricien depuis 19 et à l’IFAG Lille - Ecole de
            management.
        </p>


        <p class="highlight">
            Formatrice au ministère de la justice et à l'ENPJJ en prévention du stress au travail et techniques de
            relaxation.
        </p>

        <p>
            Je suis attentive à adapter mes “outils” afin d’apporter un accompagnement spécifique à chaque personne. La
            bienveillance, la confidentialité et le respect de chacun font partie de mes valeurs.</p>


        <p>
            Il est également essentiel pour moi de maintenir une réflexion sur ma pratique professionnelle afin de
            proposer des actes professionnels de qualité . Pour cela , je participe régulièrement à des formations et à
            des supervisions.
        </p>
    </div>
</main>

<section class="psychomotricienne">
    <div class="separateur-vertical"></div>
    <div class="psychomotricite">
        <h1>Psychomotricienne Mérignies</h1>
        <div class="content">
            <p>Premièrement, la psychomotricité s’intéresse à l’individu dans sa globalité. Elle s’appuie en effet sur les
                liens étroits qui unissent le corps et le psychisme</p>
            <p>Le cabinet de Mérignies accueille des patients de tout âge :</p>
                <ul id="psychomotricite-list">
                    <li>Le tout-petit pour des séances d’éveil , de prévention ou de retard psychomoteur. </li>
                    <li>L’enfant dans ses apprentissages scolaires et sociaux</li>
                    <li>L’adolescent dans ses changements psychiques et physiques</li>
                    <li>L’adulte et le stress au travail ( troubles du sommeil, mal de dos…)</li>
                </ul>
                
                
                
                
                
                
                <p>Cet accompagnement multi-générationnel permet ainsi de prévenir, dépister ou traiter les troubles, retards à l’aide de techniques de rééducation ou de thérapies basées sur la neuro-cognition, la physiologie et la psychologie.</p>
                
                <p>
                Les séances se font sur rendez-vous et sur prescription médicale.
                 Elles et  peuvent être en individuelle ou en petits groupes.</p>
    
                <p>
                Je peux me déplacer à domicile , à l’école , en structure.
                
                Je travaille en collaboration  avec la famille, les équipes enseignantes/éducatives et les professionnels de santé.
                </p>
        </div>
        
        <!-- <ul>
            <li class="container-item-description">
                <div class="container-cross">
                    <div class="line1"></div>
                    <div class="line2"></div>
                </div>La psychomotricité
                <div class="description">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus natus exercitationem optio
                        tenetur omnis officiis atque dolorum porro nam esse odit doloremque velit, iste repudiandae cum
                        blanditiis iusto incidunt modi.
                        Molestiae veniam autem esse vel quam, ex eum voluptatum delectus vero porro dolore! Quo
                        consequatur pariatur sequi molestiae blanditiis neque ducimus animi voluptate harum commodi,
                        atque velit, assumenda ipsam consequuntur.
                        Explicabo aspernatur tenetur voluptatum temporibus voluptates sequi sint cumque quis consequatur
                        quaerat rerum enim velit, sapiente quibusdam? Nulla ex aliquid odio, tempora cupiditate
                        doloremque sint, ipsum, est dolorem perferendis nihil?</p>
                </div>
            </li>
            <li class="container-item-description">
                <div class="container-cross">
                    <div class="line1"></div>
                    <div class="line2"></div>
                </div>La psychomotricienne
                <div class="description">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus natus exercitationem optio
                        tenetur omnis officiis atque dolorum porro nam esse odit doloremque velit, iste repudiandae cum
                        blanditiis iusto incidunt modi.
                        Molestiae veniam autem esse vel quam, ex eum voluptatum delectus vero porro dolore! Quo
                        consequatur pariatur sequi molestiae blanditiis neque ducimus animi voluptate harum commodi,
                        atque velit, assumenda ipsam consequuntur.
                        Explicabo aspernatur tenetur voluptatum temporibus voluptates sequi sint cumque quis consequatur
                        quaerat rerum enim velit, sapiente quibusdam? Nulla ex aliquid odio, tempora cupiditate
                        doloremque sint, ipsum, est dolorem perferendis nihil?</p>
                </div>
            </li>
            <li class="container-item-description">
                <div class="container-cross">
                    <div class="line1"></div>
                    <div class="line2"></div>
                </div>Le champ de compétence
                <div class="description">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus natus exercitationem optio
                        tenetur omnis officiis atque dolorum porro nam esse odit doloremque velit, iste repudiandae cum
                        blanditiis iusto incidunt modi.
                        Molestiae veniam autem esse vel quam, ex eum voluptatum delectus vero porro dolore! Quo
                        consequatur pariatur sequi molestiae blanditiis neque ducimus animi voluptate harum commodi,
                        atque velit, assumenda ipsam consequuntur.
                        Explicabo aspernatur tenetur voluptatum temporibus voluptates sequi sint cumque quis consequatur
                        quaerat rerum enim velit, sapiente quibusdam? Nulla ex aliquid odio, tempora cupiditate
                        doloremque sint, ipsum, est dolorem perferendis nihil?</p>
                </div>
            </li>
            <li class="container-item-description">
                <div class="container-cross">
                    <div class="line1"></div>
                    <div class="line2"></div>
                </div>Les objectifs
                <div class="description">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus natus exercitationem optio
                        tenetur omnis officiis atque dolorum porro nam esse odit doloremque velit, iste repudiandae cum
                        blanditiis iusto incidunt modi.
                        Molestiae veniam autem esse vel quam, ex eum voluptatum delectus vero porro dolore! Quo
                        consequatur pariatur sequi molestiae blanditiis neque ducimus animi voluptate harum commodi,
                        atque velit, assumenda ipsam consequuntur.
                        Explicabo aspernatur tenetur voluptatum temporibus voluptates sequi sint cumque quis consequatur
                        quaerat rerum enim velit, sapiente quibusdam? Nulla ex aliquid odio, tempora cupiditate
                        doloremque sint, ipsum, est dolorem perferendis nihil?</p>
                </div>
            </li>
        </ul> -->
    </div>
    <div class="role">
        <h1>Le rôle de la psychomotricienne</h1>
        <ul>
            <li><img src="{% static 'main/img/icon1.png' %}" alt="icon" class="icon">
                <p><span>Troubles des apprentissages : </span>Comprendre et aider l’enfant à retrouver le goût
                    d’apprendre
                    et lui permettre d’améliorer et/ou de
                    compenser les fonctions déficientes.</p>
            </li>
            <li><img src="{% static 'main/img/icon2.png' %}" alt="icon" class="icon">
                
                <p><span>Eveil psychomoteur : </span>Au travers d’activités d’éveil psychomoteur , c’est accompagner le
                    petit enfant à
                    intégrer ses
                    propres appuis corporels et psychiques et participer à son développement harmonieux. </p>
            </li>
            <li><img src="{% static 'main/img/icon3.png' %}" alt="icon" class="icon">
                
                <p><span>Agitation, concentration : </span>Aider l’enfant et l’adolescent à se recentrer, notamment
                    grâce à la méditation, au yoga
                </p>
            </li>
            <li><img src="{% static 'main/img/icon4.png' %}" alt="icon" class="icon">
                
                <p><span>Handicap physique, mental : </span>Autisme, AVC, trisomie, retard de développement global ou
                    partiel, en psychomotricité on
                    utilise des
                    méthodes rééducatives permettant de réparer une intégration perceptivo-motrice perturbée.
                </p>
            </li>
            <li><img src="{% static 'main/img/icon5.png' %}" alt="icon" class="icon">
                <p><span>Trouble de l'équilibre, difficultés cognitives : </span>Aider l’adulte et la personne âgée à
                    retrouver autonomie et confiance dans ses capacités
                    corporelles.
                </p>
            </li>
            <li><img src="{% static 'main/img/icon6.png' %}" alt="icon" class="icon">
                <p><span>Stress, manque de confiance : </span>Appréhender les blocages de l’enfant et de l’adolescent et
                    les réduire au travers de
                    jeux et
                    d’expression artistique et sportive.
                </p>
            </li>
        </ul>
    </div>
</section>

<section class="pourqui">
    <a href="{% url 'pourqui' %}"><h1>à qui s'adresse la psychomotricité ?</h1></a>
    <div class="card-container">
        <div class="card">
            <div class="front">
                <div class="container-cover">
                    <img src="{% static 'main/img/bebe.jpg' %}" alt="bebe">
                </div>
                <h3 class="primary">Bébés - Jeunes enfants</h3>
                <div class="separateur-horizontal"></div>
                <p>Relations précoces - Développement psychomoteur - Guidance parentale</p>
            </div>
            <div class="back">
                <section>
                    <a href="{% url 'pourqui' %}"><h3 class="violet">Le tout petit - 0 à 3 ans</h3></a>
                    <p>Troubles de l'oralité alimentaire, difficulté au portage, tenue de tête, troubles du sommeil.</p>
                </section>
                <section>
                    <a href="{% url 'pourqui' %}"><h3 class="rouge">Le jeune enfant - 3 à 6 ans</h3></a>
                    <p>Manque d'assurance corporelle, comportement inadapté en classe, manque de dextérité, confus avec l'espace et le temps.</p>
                </section>
            </div>
        </div>
        <div class="card card-center">
            <!-- <div class="separateur-gauche"></div> -->
            <!-- <div class="separateur-droite"></div> -->
            <div class="front">
                <div class="container-cover">
                    <img src="{% static 'main/img/enfant.jpg' %}" alt="enfant">
                </div>
                <h3 class="primary">Enfants - Adolescents</h3>
                <div class="separateur-horizontal"></div>
                <p>Apprentissages - Comportements - Rééducation</p>
            </div>
            <div class="back">
                <section>
                    <a href="{% url 'pourqui' %}"><h3 class="rose">L'enfant en primaire - 6 à 11 ans</h3></a>
                    <p>Gestes maladroits, manque d'aisance en sport, confusion gauche/droite, repères spatiauxs-temporels fragiles.</p>
                </section>
                <section>
                    <a href="{% url 'pourqui' %}"><h3 class="jaune">Le collégien - Le lycéen</h3></a>
                    <p>Difficulté pour gérer ses émotions, manque de confiance, troubles du comportement..</p>
                </section>
                <section>
                    <a href="{% url 'pourqui' %}"><h3 class="rouge">L'enfant porteur d'un handicap</h3></a>
                </section>
            </div>
        </div>
        <!-- <div class="card">
            <div class="front">
                <div class="container-cover">
                    <img src="{% static 'main/img/adulte.jpg' %}" alt="adulte">
                </div>
                <h3 class="primary">Adultes</h3>
                <div class="separateur-horizontal"></div>
                <p>Gestion des émotions - Maladies, handicaps - Vécu corporel douloureux</p>
            </div>
            <div class="back">
                <section>
                    <a href="{% url 'pourqui' %}"><h3 class="violet">L'adulte porteur d'un handicap, trouble ou pathologie</h3></a>
                    <p>Troubles des apprentissages, maladresse motrice et gestuelle, trouble du spectre autistique.</p>
                </section>
            </div>
        </div> -->
    </div>
</section>

<section class="yoga-sophrologie">
    <div class="yoga-sophro-cover">
        <img src="{% static 'main/img/home-yoga-cover.png' %}" alt="yoga">
    </div>
    <div class="yoga-sophrologie-container">
        <div class="vertical-separator"></div>
        <div class="yoga">
            <h3 class="yoga-soprologie-title"><a href="#">Le Yoga</a></h3>
            <!-- <p class="yoga-soprologie-description">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam repellat ex dolores, quasi libero
                quod facere facilis laudantium eos quo, alias nulla consequatur accusantium ducimus harum ut dolor neque
                tempore.Sed iusto neque voluptas, omnis tempore facilis accusamus quasi hic quisquam sint quod
                consequuntur aliquam beatae modi expedita delectus reprehenderit quo similique optio. Hic, aut ducimus
                quibusdam sequi quos tenetur!
            </p> -->
        </div>
        <div class="sophrologie">
            <h3 class="yoga-soprologie-title"><a href="#">La Sophrologie</a></h3>
            <!-- <p class="yoga-soprologie-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime recusandae totam minus et laboriosam
                blanditiis, magnam culpa necessitatibus rem temporibus cupiditate eligendi. Voluptate, reiciendis. Eaque
                accusamus laudantium corrupti necessitatibus odit.Ad quos itaque quaerat fugiat a esse! Aperiam expedita
                debitis beatae quia quasi commodi quidem, praesentium sunt molestiae totam necessitatibus iusto aliquam
                numquam perspiciatis quis excepturi ullam. Voluptates, impedit odio.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ex ratione sapiente, excepturi nobis
                ipsam voluptatem quaerat explicabo, nihil labore aperiam soluta fuga asperiores! Minus doloribus veniam
                officia facere quia!Earum dolorum id itaque dolor at. Nisi nam quaerat nobis molestias sequi, laborum
                qui doloremque quia voluptas expedita itaque id recusandae unde odio libero ex eligendi, quibusdam natus
                autem quae.
            </p> -->
        </div>
    </div>
    <!-- <div class="yoga-pourqui">
        <h3>Pour Qui ?</h3>
        <img src="{% static 'main/img/yoga-pour-qui.jpg' %}" alt="yoga">
        <div class="card-container">
            <div class="vertical-sep"></div>
            <div class="horizontal-sep-container"></div>
            <div class="card">
                <h4 class="card-title">Enfants - Adolescents</h4>
                <div class="horizontal-sep"></div>
                <p class="card-description">Apprentissages - Comportements - Rééducation ...</p>
            </div>
            <div class="card">
                <h4 class="card-title">Adultes</h4>
                <div class="horizontal-sep"></div>
                <p class="card-description">Gestions des émotions - Maladies, handicaps - Vécu corporel douloureux ...
                </p>
            </div>
        </div>
    </div> -->
</section>


<section class="map">
    <h1>Me situer</h1>
    <iframe width="100%" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJB4Kp5ezZwkcRdMtn6AKhNkQ&key=AIzaSyAr1FvQn5YNoRkrlR_7vJLtYsnQHGZdNsY"
        allowfullscreen></iframe>
</section>

{% endblock %}

{% block script %}
<script src="{% static 'main/js/toggledescription.js' %}"></script>
<script src="{%  static 'main/js/icon_scroll.js'%}"></script>
<script src="{% static 'main/js/flip_card.js' %}"></script>
{% endblock %}