{% extends 'main/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'main/css/nav_pratique.css' %}">
{% block style %}
{% endblock style %}
{% endblock head %}

{% block content %}

<nav id="subNav">
    <ul id="subNavList">
        <li><a href="{% url 'psychomotricite' %}">Psychomotricité</a></li>
        <li>/</li>
        <li id="lastItem"><a href="#">{% if request.path == "/bilan/" %} Bilan {% elif request.path == "/boite_outils/" %} Boîtes à outils {% else%} Pour qui : les indications{% endif %}</a></li>
    </ul>
</nav>

{% block sub_content %}
{% endblock sub_content %}

{% endblock content %}

{% block script %}
{% endblock script %}