{% extends 'main/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'main/css/psychomotricite.css' %}">
{% endblock head %}

{% block content %}

<header class="titleContainer shadow">
    <h2 class="title">La psychomotricité qu'est-ce que c'est ?</h2>
</header>

<main class="shadow background-muted">
    <img src="{% static 'main/img/paint.jpg' %}" alt="peinture sur les mains d'un enfant">
    <p class="definition">
        Le psychomotricien est un professionnel paramédical, diplômé d’état. Son travail consiste à favoriser le bon
        développement psychomoteur et le préserver tout au long de la vie. Lorsque cet équilibre est perturbé par un
        trouble ou un handicap, d’origine physique ou psychique, le psychomotricien propose des séances d’approche
        corporelle à visée rééducative (volonté d’agir sur une difficulté ciblée) et thérapeutique.
        Quelques uns de ses outils : parcours moteurs, exercices de coordination et de rythme, relaxation, expression
        corporelle, jeux de concentration et de planification, stimulation sensori-motrice, activités de motricité fine
        et de graphisme…
    </p>
</main>

<div class="enTheorieContainer shadow">
    <h2 class="title">En Théorie</h2>
    <div class="description">
        <p class="intro">
            Selon l’article R4332-1 du code de la santé publique , le champ d’action du psychomotricien concerne :
        </p>
        <ul class="items">
            <li>le retard du développement psychomoteur (perturbation des acquisitions motrices, prématurité…)</li>
            <li>les troubles de la maturation et de la régulation tonique (tics, hypertonie, hypotonie…)</li>
            <li>les troubles du schéma corporel et de l’image du corps (manque de conscience du corps et/ou d’estime de
                soi)</li>
            <li>les troubles de la latéralité</li>
            <li>les troubles de l’organisation spatio-temporelle</li>
            <li>la maladresse motrice et gestuelle (TAC, dyspraxie)</li>
        </ul>
        <p class="intro">
            Certains troubles spécifiques peuvent inclure des troubles psychomoteurs :
        </p>
        <ul class="items">
            <li>les troubles des apprentissages (troubles de l’attention et des fonctions exécutives, trouble de
                l’écriture…)</li>
            <li>les troubles du comportement (instabilité, inhibition, trouble des habiletés sociales…)</li>
            <li>les troubles envahissants du développement (autisme…)</li>
        </ul>
        <p class="conclusion">
            Les notions psychomotrices sont à considérer comme intriquées. En effet, nous ne pouvons envisager l’action
            motrice sans les mécanismes cérébraux qui l’accompagnent (concentration, planification du geste…), ni
            l’impact psychologique qu’elle aura sur nous (confiance, estime de soi, disponibilité relationnelle…).
            En résumé, nous considérons l’individu dans sa globalité.
        </p>
    </div>
</div>

<div class="enPratiqueContainer shadow" id="pratique">
    <h2 class="title">En pratique</h2>
    <ul class="list-items">
        <a href="{% url 'pourqui' %}">
            <li class="shadow background" data-goto="pourqui">
                <span class="item">Pour qui : les indications en psychomotricité</span>
                <span class="cta">+</span>
            </li>
        </a>
        <a href="{% url 'bilan' %}">
            <li class="shadow background" data-goto="bilan">
                <span class="item">Le bilan psychomoteur :</span>
                <span class="cta">+</span>
            </li>
        </a>
        <!-- <a href="">
            <li class="shadow background">
                <span class="item">Les séances :</span>
                <span class="cta">+</span>
            </li>
        </a> -->
        <a href="{% url 'boite_outils' %}">
            <li class="shadow background" data-goto="boite_outils">
                <span class="item">Ma boite à outils :</span>
                <span class="cta">+</span>
            </li>
        </a>
    </ul>
    <div class="deroulement">
        <h3>Déroulement d'une prise en charge :</h3>
        <ul>
            <li>Le premier contact avec le patient (et sa famille) consiste à réaliser un <strong>bilan psychomoteur</strong>(entretien,
                tests et épreuves) qui fait l’objet d’une <strong>prescription médicale</strong>.
            </li>
            <li>Au regard des conclusions du bilan, si cela est nécessaire, il est proposé au patient <strong>une prise en
                charge</strong> avec des objectifs et des dispositifs de rééducation adaptés.
            </li>
            <li>Le <strong>projet thérapeutique</strong> s’adapte tout au long des séances en fonction des <strong>souhaits du patient</strong> et de ses
                progrès. Les séances individuelles durent entre 30 et 45 minutes. Sur RDV uniquement.
            </li>
            <li>Les prises en charge s’effectuent en <strong>individuel</strong> ou en <strong>groupe</strong> selon les besoins du patient.</li>
            <li>Je travaille en collaboration avec des <strong>médecins spécialisés</strong> (pédiatre, pédopsychiatre, neuropédiatre)
                ainsi qu’avec les <strong>professionnels sensibilisés</strong> aux troubles du développement et des apprentissages
                (orthophonistes, orthoptistes, ergothérapeutes, psychologues).
            </li>
        </ul>
    </div>
</div>

<div class="aideContainer background-muted">
    <div class="shadow background content">
        <h3>Les actes de psychomotricité ne sont pas remboursés par la Sécurité Sociale</h3>
        <h2>Cependant, il existe des aides</h2>
        <div class="aides">
            <div class="aide">
                <img src="{% static 'main/img/assurance-maladie.svg' %}" alt="caisse assurance maladie" class="icon">
                <p class="texte">
                    Vous pouvez faire une demande de prise en charge extra-légale à la Caisse Primaire d’Assurance
                    Maladie
                </p>
            </div>
            <div class="aide">
                <img src="{% static 'main/img/group.svg' %}" alt="group" class="icon">
                <p class="texte">
                    Certaines mutuelles accordent une participation financière aux soins en psychomotricité.
                </p>
            </div>
            <div class="aide">
                <img src="{% static 'main/img/company.svg' %}" alt="entreprise" class="icon">
                <p class="texte">
                    Des comités d’entreprise ont un fond social qui est attribué à l’aide aux soins.
                </p>
            </div>
            <div class="aide">
                <img src="{% static 'main/img/disabled-people.svg' %}" alt="handicap" class="icon">
                <p class="texte">
                    La Maison Départementale des Personnes Handicapées (MDPH) attribue une allocation sous certaines
                    conditions.
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block script %}
<script src="{% static 'main/js/psychomotricite_anim.js' %}"></script>
{% endblock script %}