{% extends 'main/base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/rendez_vous.css' %}">
{% endblock head %}

{% block content %}

    <header class='rdv-header' style="background-image: url({% static 'main/img/plaque_cabinet_2.jpg' %});">
        <h1>Prenez Un Rendez-Vous</h1>
        <p>Contactez moi en quelques clics et en rédigeant un message si vous le souhaitez. Je vous réponds au plus vite pour confirmer le rendez-vous.</p>
    </header>

    <div class="form-container">
        <form action="#" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="select-service">
                <label for="{{form.service.id_for_label}}">{{form.service.label}}</label>
                {{form.service}}
            </div>
            <main class="recap">
                <ul class="infos">
                    <li class="name"><span id="name">{{service.name}}</span></li>
                    <li class="price" >Prix : <span id=price>{{service.price|floatformat:2}}</span>€</li>
                    <li class="duration">Durée : <span id="duration">{{service.duration}}</span></li>
                </ul>
                <div class="description">
                    <span id="description">{{service.description}}</span>
                </div>
                <div class="email">
                    {{form.email.label}}
                    {{form.email}}
                </div>
                <div class="message">
                    <label for="{{ form.message.id_for_label }}">{{form.message.label}}</label>
                    {{form.message}}
                </div>
                <input type="submit" value="Envoyer">
            </main>
        </form>
    </div>
    


{% endblock content %}

{% block script %}
<script src="{% static 'main/js/rdv.js' %}"></script>
{% endblock script %}