/* Global variables */
$primary : #EAD1AA;
$primary-background : rgba(227, 197, 148, 0.37);
$secondary : #8981E5;
$secondary-hover : rgba(137, 129, 229, 0.315);

$bp800 : 800px;
$bp580 : 580px;


/* Global default settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

li{
    list-style: none;
}

.btn{
    padding: .5em;
    background-color: $secondary;
    color: white;
    transition: all .3s ease;
    border-radius: 10px;
    &:hover{
        background-color: $secondary-hover;
        color: black;
    }
}

/* header */
.base-header{
    background-color: $primary-background;
    padding: .5em;

    .coordinates{
        margin-bottom: 0.5em;
    }

    .rubriques{
        width: 70%;
        margin: auto;
    }

    .list-coordinates,.list-rubriques{
        background-color: $primary;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0.5em;
    }

    .list-rubriques-mobile{
        display: none;
    }
}

/* Menu */
.hamburger{
    display: none;
    width: 50px;
    height: 50px;
}

/* Icons */
.tel, .mail, .location{
    width: 15px;
    height: 15px;
    margin-right: 0.5em;
}

/* Footer */
.footer-infos{
    background-color: $primary-background;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    .footer-title{
        font-weight: bold;
        font-size: 1.3em;
        margin-bottom: 1em;
    }

    .footer-rdv{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            margin-bottom: 1em;
            text-align: center;
        }
        h1{
            align-self: flex-start;
        }
    }
}

.copyright{
    background-color: $primary;
    padding: 1em;
    text-align: center;
    p::before{
        content: '©';
    }
}


/* Responsive */
@media only screen and (max-width:$bp800){

    /* Menu */
    .base-header{
        .rubriques{
            width: 100%;
        }
    }

    .footer-infos{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        .footer-rdv h1{
            align-self: center;
        }
        .footer-title{
            margin-bottom: 0.5em;
        }
    }

    .footer-infos-item{
        margin-bottom: 1em;
    }
    
}

/* Menu téléphone */
@media only screen and (max-width:$bp580){
    .rubriques{
        position: relative;
        height: 50px;
        overflow: hidden;
        .hamburger{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            display: block;
            cursor: pointer;
        }

        .list-rubriques-mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateX(-150%);
            background-color: $primary;
            li{
                font-size: 1.5em;
                margin-bottom: 0.5em;
            }
        }
        .list-rubriques{
            display: none;
        }
    }
}




