/* Global variables */
$primary : #EAD1AA;
$primary-background : rgba(227, 197, 148, 0.37);
$secondary : #8981E5;
$secondary-hover : rgba(137, 129, 229, 0.315);

h1{
    font-family: 'Dancing';
}


/* Main */
.presentation{
    display: flex;
    .container-portrait, .container-presentation{
        width: 50%;
    }
    .container-portrait{
        height: 700px;
        overflow: hidden;
        [alt="portrait"]{
            width: 100%;
        }
    }
    .container-presentation{
        align-self: center;
        text-align: center;
        h1{
            font-size: 4em;
            margin-bottom: .5em;
        }
        h2{
           font-size: 1.2em;
           opacity: .7; 
           font-style: italic;
        }
        p{
            text-align: justify;
            width: 70%;
            margin: auto;
            margin-top: 5em;
            opacity: .7;
        }
    }
}

/* Psychomotricienne */
.psychomotricienne{
    background-color: $primary-background;
    display: flex;
    position: relative;
    .psychomotricite, .role{
        width: 50%;
    }
    .separateur-vertical{
        position: absolute;
        width: 1px;
        top : 6em;
        bottom: 70px;
        left: 50%;
        background-color: gray;

    }
    .psychomotricite{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin-top: 1em;
            font-size: 2em;
        }
        p{
           width: 70%;
           margin: auto;
           margin-top: 2em; 
           margin-bottom: 2em;
        }
        ul{
            width: 70%;
            li{
                width: 100%;
                margin: auto;
                border-radius: 10px;
                margin-bottom: 1em;
                padding: 1em;
                background-color: $primary;
                .container-cross{
                    cursor: pointer;
                    border-radius: 10px;
                    height: 1em;
                    width: 1em;
                    background-color: $secondary;
                    position: relative;
                    display: inline-block;
                    margin-right: 2em;
                    .line1,.line2{
                        position: absolute;
                        pointer-events: none;
                        height: .1em;
                        left: .2em;
                        right: .2em;
                        top: .5em;
                        transform: translateY(-50%);
                        background-color: white;
                    }
                    
                    .line2{
                        transform-origin: center;
                        transform: rotateZ(-90deg)  ;
                    }
                }
                .description{
                    overflow: hidden;
                }
            }
        }
    }

    .role{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin-top: 1em;
            margin-bottom: 1em;
            font-size: 2em;
        }
        li{
            display: flex;
            align-items: center;
            margin-bottom: 1em;
            .icon{
                opacity: 0;
                width: 60px;
                margin-right: 2em; 
            }

        }
        
    }
}

/* Pour qui */
.pourqui{
    h1{
        text-align: center;
        font-size: 3em; 
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .card-container{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2em;
    }
    .card{
        display: flex;
        flex-direction: column;
        width: 33%;
        position: relative;
        .container-cover{
            height: 200px;
            overflow: hidden;
            margin-bottom: 1em;
            transition: all .3s ease-out;
            img{
                display: block;
                margin: auto;
            }
        } 
    }

    .front,.back{
        backface-visibility: hidden; 
    }

    .back{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .card.card-center{
        position: relative;
        .separateur-gauche, .separateur-droite{
            position: absolute;
            width: 1px;
            background-color: $primary;
            top: 200px;
            bottom: 0;
        }
        .separateur-gauche{
            left: 0;
        }
        .separateur-droite{
            right: 0;
        }
    }

    h3{
        color: $primary;
        margin-bottom: 0.5em;
    }
    .separateur-horizontal{
        width: 90%;
        height: 1px;
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
        background-color: $primary;
    }
    h3,p{
        margin-left: 1em;
    }
}

/* Yoga - Sophrologie */
.yoga-sophrologie{
    .yoga-sophro-cover{
        width: 100%;
        overflow: hidden;
        background-color: $primary;
        img{
            width: 50%;
            object-fit: cover;
            display: block;
            margin: auto;
            background-color: $primary;
        }
    }
    .yoga-sophrologie-container{
        background-color: $primary;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2em 0;
        .vertical-separator{
            position: absolute;
            background-color: black;
            width: 1px;
            height: 80%;
            bottom: 10px;
        }
        .yoga,.sophrologie{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 50%;
            .yoga-soprologie-description{
                text-align: justify;
                width: 60%;
                margin-top: 3em;
                
            }
        }
        .yoga-soprologie-title{
            font-family: 'Dancing';
            font-size: 2em;
            font-weight: bold;
        }
    }

    .yoga-pourqui{
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            font-family: 'Dancing';
            font-size: 2em;
            margin: 1.5em 0;
        }
        img{
            width: 50%;
            margin-bottom: 1em;
        }
        .card-container{
            position: relative;
            width: 50%;
            display: flex;
            margin-bottom: 3em;

            .vertical-sep{
                position: absolute;
                width: 1px;
                height: 80%;
                background-color: $primary;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            .horizontal-sep-container{
                position: absolute;
                height: 1px;
                width: 100%;
                background-color: $primary;
                bottom: -1em;
            }
            
            .card{
                position: relative;
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 .5em;
                .horizontal-sep{
                    height: 1px;
                    width: 80%;
                    background-color: $primary;
                    top: 2.5em;
                    margin-bottom: 1em;
                }
                .card-title{
                    color: $primary;
                    font-size: 1.5em;
                    margin: 1em 0;
                }
                .card-description{
                    padding: 0 .5em;
                }
                
            }
        }
    }
}


/* Me situer */
.map{
    h1{
        text-align: center;
        font-size: 2em;
    }
}


/* Responsive */
@media only screen and (max-width:1060px){
    .presentation{
        .container-portrait{
            height: auto;
        }
        .container-presentation{
            align-self: flex-start;
        }
    }
}


@media only screen and (max-width:960px){
    .psychomotricienne{
        .separateur-vertical{
            display: none;
        }
        .psychomotricite ul{
            width: 90%;
        }
        .description p{
            width: 100%;
        }
    }

    .yoga-sophrologie{
        
        .yoga-sophrologie-container{
            background-color: $primary;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            .vertical-separator{
                display: none;
            }
            .yoga{
                margin-bottom: 3em;
            }
            .yoga,.sophrologie{
                width: 70%;
            }
            
        }

        .yoga-pourqui{
            .card-container{
                width: 100%;
            }
        }
    }

        
}


@media only screen and (max-width:900px){
    .presentation{
        .container-presentation{
            p{
                margin-top: 1em;
                width: 90%;
            }
        }
    }
}

@media only screen and (max-width:760px){
    .presentation{
        .container-portrait{
            width: 30%;
        }
        .container-presentation{
            flex: 1;
            h1{
                font-size: 2em;
                white-space: nowrap;
                margin: auto;
                margin-bottom: 0;
            }
            
        }
    }
}

@media only screen and (max-width:700px){
    .psychomotricienne{
        flex-direction: column;
        align-items: center;

        .psychomotricite{
            width: 80%;
            margin: auto;
        }
    }

    .yoga-sophrologie{
        
        .yoga-sophrologie-container{
            
            .yoga,.sophrologie{
                width: 100%; 
            }
            
        }
    }
    
}

@media only screen and (max-width:600px){
    .pourqui{
        .card-container{
            flex-direction: column;
            align-items: center;
            .card{
                width: 70%;
                margin-bottom: 1em;
            }

            .separateur-gauche,.separateur-droite{
                display: none;
            }
        }
    }
}

@media only screen and (max-width:500px){
    .presentation{
        flex-direction: column;
        align-items: center;
        .container-presentation{
            width: 90%;
            margin: auto;
        }
    }

    .yoga-sophrologie .card-container .horizontal-sep{
        display: none;
    }

    .yoga-sophrologie .card-container .card-title{
        min-height: 56px;
    }


}




