header.containerCover {
  margin-bottom: 1rem;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.containerCover img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

header.containerCover h1 {
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  padding-top: 2rem;
}

.intro {
  padding: 2rem 0;
  /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.45); */
  margin-bottom: 2rem;
}

.intro h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-weight: lighter;
}

.intro h2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 20%;
  height: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: black;
}

.yoga, .sophro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.yoga .card, .sophro .card {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 0;
  position: relative;
}

.yoga .card h3, .yoga .card p, .sophro .card h3, .sophro .card p {
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
}

.yoga .card .btn-yoga, .sophro .card .btn-yoga {
  width: 30%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-radius: 20px;
  background-color: #464174;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.yoga .card .btn-yoga:hover, .sophro .card .btn-yoga:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.yoga .card .btn-yoga a, .sophro .card .btn-yoga a {
  display: block;
  color: white;
}

.yoga .card h3, .sophro .card h3 {
  text-align: center;
  font-size: 1.5em;
}

.yoga .card .description, .sophro .card .description {
  text-align: center;
  font-style: italic;
}

.yoga .illustration, .sophro .illustration {
  width: 55%;
  overflow: hidden;
}

.yoga .illustration:hover img, .sophro .illustration:hover img {
  width: 150%;
}

.yoga .illustration img, .sophro .illustration img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.transition {
  margin: 2rem 0;
  overflow: hidden;
}

.transition img {
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media only screen and (max-width: 900px) {
  .yoga .card, .sophro .card {
    padding: 3rem 0;
  }
  .yoga .card h3, .yoga .card p, .sophro .card h3, .sophro .card p {
    width: 90%;
  }
  .yoga .card .btn-yoga, .sophro .card .btn-yoga {
    width: 70%;
  }
}

@media only screen and (max-width: 580px) {
  .yoga .card, .sophro .card {
    width: 60%;
  }
  .yoga .illustration, .sophro .illustration {
    width: 40%;
  }
  .yoga {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .yoga, .sophro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .yoga .card, .yoga .illustration, .sophro .card, .sophro .illustration {
    width: 100%;
    margin: 0;
  }
  .yoga .card, .sophro .card {
    margin-bottom: 0.5rem;
  }
  .yoga .yoga, .sophro .yoga {
    margin-bottom: 1rem;
  }
  .sophro .card {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.detailTitleContainer {
  padding: 2.5rem 0;
  text-align: center;
  width: 90%;
  margin: auto;
}

.detailTitleContainer .title {
  font-size: 2.5em;
}

.tarifContainer {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 2rem auto;
  z-index: 10;
}

.tarifContainer p {
  text-align: center;
  padding: 0 2rem;
}

.tarifContainer h3 {
  margin: 3rem 0;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

.tarifContainer h3::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 1px;
  background-color: black;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tarifDetailContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tarifDetailContainer li.title {
  text-align: center;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #8981E5;
  color: white;
  font-size: 1.3em;
}

.more {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.more img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.more .enfant, .more .adulte {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.more .card {
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -30px;
  padding: 1rem 2rem;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.more .card h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
}

.more .card p {
  margin: 1rem 0;
  text-align: justify;
}

.more .card .btn-yoga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  margin: auto;
}

.more .card .btn-yoga a {
  display: block;
}

@media only screen and (max-width: 1000px) {
  .more .card {
    width: 100%;
    margin-top: 1rem;
  }
  .more .card h3 {
    font-size: 1.3em;
  }
  .more .card .btn-yoga {
    width: 70%;
  }
}

@media only screen and (max-width: 785px) {
  .tarifDetailContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tarifDetailContainer .tarifAdulte {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 750px) {
  .more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .more .enfant, .more .adulte {
    width: 90%;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .tarifContainer {
    width: 100%;
    margin-top: 1rem;
  }
}

.pratique {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  padding-bottom: 6rem;
  margin-bottom: 2rem;
}

.pratique h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: lighter;
}

.pratique .second {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 1rem;
  background-color: #E1CBAA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pratique .second div {
  width: 30%;
  padding: 1rem;
  margin: 0rem 0.5rem;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 840px) {
  .pratique .second {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pratique .second div {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pratique .second img {
    margin: 1rem 0;
  }
}

.background {
  background-color: #8981E5;
}

.background-secondary {
  background-color: #EAD1AA;
}

.shadow {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=yoga.css.map */