@charset "UTF-8";
#page-base {
  /* header */
  /* Menu */
  /* Icons */
  /* Footer */
  /* Responsive */
  /* Menu téléphone */
}

#page-base .base-header {
  background-color: rgba(227, 197, 148, 0.37);
  padding: .5em;
}

#page-base .base-header .coordinates {
  margin-bottom: 0.5em;
}

#page-base .base-header .rubriques {
  width: 70%;
  margin: auto;
}

#page-base .base-header .list-rubriques li.active {
  background-color: #eebc6c;
}

#page-base .base-header .list-coordinates,
#page-base .base-header .list-rubriques {
  background-color: #EAD1AA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 50px;
}

#page-base .base-header .list-coordinates li,
#page-base .base-header .list-rubriques li {
  min-height: 50px;
  line-height: 50px;
  padding: 0em 0.5em;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#page-base .base-header .list-coordinates li:hover,
#page-base .base-header .list-rubriques li:hover {
  background-color: #eebc6c;
}

#page-base .base-header .list-rubriques-mobile {
  display: none;
}

#page-base .hamburger {
  display: none;
  width: 50px;
  height: 50px;
}

#page-base .tel,
#page-base .mail,
#page-base .location {
  width: 15px;
  height: 15px;
  margin-right: 0.5em;
}

#page-base .footer-infos {
  background-color: rgba(227, 197, 148, 0.37);
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#page-base .footer-infos .footer-title {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 1em;
}

#page-base .footer-infos .footer-rdv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-base .footer-infos .footer-rdv p {
  margin-bottom: 1em;
  text-align: center;
}

#page-base .footer-infos .footer-rdv h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#page-base .copyright {
  background-color: #EAD1AA;
  padding: 1em;
  text-align: center;
}

#page-base .copyright p::before {
  content: '©';
}

@media only screen and (max-width: 800px) {
  #page-base {
    /* Menu */
  }
  #page-base .base-header .rubriques {
    width: 100%;
  }
  #page-base .footer-infos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #page-base .footer-infos .footer-rdv h1 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #page-base .footer-infos .footer-title {
    margin-bottom: 0.5em;
  }
  #page-base .footer-infos-item {
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 580px) {
  #page-base .rubriques {
    position: relative;
    height: 50px;
    overflow: hidden;
  }
  #page-base .rubriques .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
    cursor: pointer;
  }
  #page-base .rubriques .list-rubriques-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    background-color: #EAD1AA;
  }
  #page-base .rubriques .list-rubriques-mobile li {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  #page-base .rubriques .list-rubriques {
    display: none;
  }
}
/*# sourceMappingURL=base.css.map */