#page-presentation {
    $primary: #EAD1AA;
    $primary-background: rgba(227, 197, 148, 0.37);
    $secondary: #8981E5;
    $secondary-hover: rgba(137, 129, 229, 0.315);


    .cover {
        width: 100%;
    }

    .main-wrapper {
        margin: 1.5em;
        border: thin black solid;
        overflow: hidden;
    }

    .presentation-header {
        display: flex;
        align-items: center;
        min-height: 80vh;
        margin: 1.5em;
    }

    .container-portrait,
    .presentation-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .container-portrait-img {
        width: 400px;
        height: 400px;
        border-radius: 50%;
    }

    .portrait {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-position: top;
    }

    .presentation-container {
        h1 {
            font-family: 'Dancing Script';
            font-size: 2em;
            margin-top: 1em;
            text-align: center;
        }

        .presentation {
            text-align: justify;
            width: 80%;
            margin: auto;
            margin-top: 3em;
        }
    }

    .locaux {
        width: 70%;
        margin: auto;
        margin-top: 1em;

        img {
            width: 200px;
        }

        .container-item {
            margin: 4em 0;
            display: flex;
            align-items: center;

            p {
                text-align: justify;
            }

            .right {
                order: 2;
                margin-left: 2em;
            }

            .left {
                margin-right: 2em;
            }
        }
    }

    .formation-container-cover,
    .experience-container-cover,
    .cabinet-container-cover {
        position: relative;
        min-height: 400px;
        background-size: cover;
        background-attachment: fixed;

        .cover {
            position: absolute;
            top: -200px;
        }

        h2 {
            position: absolute;
            top: 70px;
            left: 70px;
            font-family: 'Dancing Script';
            font-size: 3em;
        }
    }

    .formation-container-cover {
        background-position: center;
    }

    .formation-container {
        width: 90%;
        margin: auto;
    }

    .psychomotricite,
    .sophrologie {
        display: flex;
        align-items: center;
        margin: 2em 0;
    }

    .description-container {
        width: 50%;
        text-align: center;

        h3 {
            font-family: 'Dancing Script';
            font-size: 3em;
        }

        p {
            margin: auto;
            margin-top: 3em;
            text-align: justify;
            width: 80%;

        }
    }

    .diplomes {
        display: flex;
        flex-direction: column;
        width: 50%;

        &.order {
            order: -1;
        }
    }

    .diplome {
        .container-intitule {
            display: flex;
            width: 100%;
            align-items: flex-end;
        }

        .intitule {
            width: 90%;
            font-weight: bold;
        }

        span {
            padding: .5em;
            background-color: rgb(63, 63, 63);
            color: white;
            display: block;
            font-size: 1em;
            border-radius: 15px;
        }

        .container-anim {
            width: 100%;
            height: 30px;
            background-color: rgb(185, 185, 185);
            margin: 0.5em 0;
        }

        .anim {
            width: 0;
            height: 30px;

            &.violet {
                background-color: #8981E5;
            }

            &.rouge {
                background-color: #FF5151;
            }

            &.saumon {
                background-color: #FF896B;
            }

            &.orange {
                background-color: #FFA41B;
            }
        }
    }

    .experience-container-cover {
        background-position: bottom;

        .cover {
            z-index: -1;
        }

        h2 {
            text-align: right;
            right: 70px;
        }
    }


    .experiences-container {
        display: flex;
        margin: auto;
        justify-content: space-around;
    }

    .experience-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #8981E5;
        padding: 2em;
        width: 40%;
        margin-top: -40px;
        -webkit-box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.64);
        -moz-box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.64);
        box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.64);
        position: relative;

        .experience-title {
            margin-bottom: 1rem;
            font-family: "Dancing Script";
        }

        li:not(:last-child) {
            margin-bottom: 2em;
        }

        .periode {
            font-weight: bold;
        }

        .explication {
            color: white;
        }
    }

    .cabinet-container-cover {
        margin: 5em 0;
        background-position: right;

        h2 {
            text-align: right;
            right: 50px;
            top: 50px;
        }
    }

    .cabinet-container {
        display: flex;
        align-items: center;
        margin: 2em;

        img {
            display: block;
            width: 25%;
            margin-right: 1em;
        }

        p {
            width: 25%;
        }
    }




    @media only screen and (max-width:1170px) {

        .presentation-header {
            align-items: center;
        }

        /* .presentation-container .presentation {
            width: 90%;
        } */

        .portrait {
            display: block;
            //width: 70%;
            margin: auto;
        }

        .experiences-container {
            flex-direction: column;
            align-items: center;
        }

        .experience-container {
            width: 70%;
            margin: 2rem 0;
        }

    }



    @media only screen and (max-width:925px) {

        .presentation-header {
            display: block
        }

        .container-portrait,
        .presentation-container {
            width: 80%;
            margin: auto;
        }

        .container-portrait-img{
            width: 200px;
            height: 200px;
        }

        .presentation-container .presentation {
            margin-top: 1.5em;
        }

        .locaux {
            width: 90%;
        }



        .cabinet-container {
            display: block;

            img,
            p {
                width: 80%;
                margin: auto;
                margin-bottom: 1em;
            }
        }

    }

    @media only screen and (max-width:800px) {

        .psychomotricite,
        .sophrologie {
            display: block;
            width: 90%;
            margin: auto;

            .description-container,
            .diplomes {
                width: 100%;
                margin-bottom: 2em;
            }
        }


    }


    @media only screen and (max-width:780px) {
        .locaux .container-item {
            flex-direction: column;
            align-items: center;

            .container-img {
                margin-bottom: 1em;
            }

            .right {
                margin-left: 0;
                order: 0;
            }

            .left {
                margin-right: 0;
            }
        }

        .experience-container {
            width: 90%;
        }

    }

    @media only screen and (max-width:550px) {
        .experience-container {
            padding: 1em;
        }
    }




    @media only screen and (max-width:500px) {



        .main-wrapper {
            border: none;
            margin-left: 0;
            margin-right: 0;
        }

        .presentation-header {
            margin: 0.5em;
        }

        .container-portrait,
        .presentation-container {
            width: 95%;
            margin: auto;
        }

        .formation-container-cover,
        .experience-container-cover,
        .cabinet-container-cover {
            background-attachment: scroll;
            margin: 2rem 0;
            min-height: 300px;
        }

        .formation-container-cover h2{
            top: 20px;
            left: 20px;
        }

        .experience-container-cover h2{
            top: unset;
            left: unset;
            bottom: 20px;
            right: 20px;
        }

        .cabinet-container{
            margin-left: 0;
            margin-right: 0;
        }



    }
}