#page-psychomotricite {
    @import 'psychomotricite/definition', './psychomotricite/enPratique', './psychomotricite/aides', './psychomotricite/enTheorie';


    .background {
        background-color: #B9B5D8;
    }

    .background-muted {
        background-color: #D2CFE5;
    }

    .shadow {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }

    .title {
        font-size: 2.5em;
        font-family: 'Dancing Script';
    }

    .titleContainer,
    .enPratiqueContainer,
    .enTheorieContainer {
        width: 80%;
    }

    @media only screen and (max-width : 500px) {

        .titleContainer,
        main,
        .enPratiqueContainer,
        .enTheorieContainer {
            width: 100%;
        }
    }
}