#page-sophro section.personne {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

#page-sophro section.personne .titleContainer {
  background-color: bisque;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 1.5rem 0;
}

#page-sophro section.personne .titleContainer .sectionTitle {
  text-align: center;
  font-size: 1.5rem;
}

#page-sophro section.personne .illustrationContainer {
  width: 400px;
  margin: auto;
  margin-top: -1rem;
  height: 250px;
}

#page-sophro section.personne .illustrationContainer .illustration {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#page-sophro section.personne .descriptionContainer {
  background-color: bisque;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  margin-top: 1.5rem;
  padding: 2rem;
}

#page-sophro #enfant p.question {
  font-size: 1.2rem;
  font-weight: bold;
}

#page-sophro #enfant ul {
  margin: 1rem 0;
}

#page-sophro #enfant ul li::before {
  content: "\2192";
  color: white;
  margin-right: 1rem;
}

#page-sophro #enfant p.mb {
  margin-bottom: 1rem;
}

#page-sophro #adolescent p {
  margin-bottom: 1rem;
}

#page-sophro #adolescent li:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

#page-sophro #adolescent li:nth-child(n+2) {
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#page-sophro #adulte .descriptionContainer ul {
  width: 70%;
  margin: auto;
}

#page-sophro #adulte li:first-child {
  margin-bottom: 1rem;
}

#page-sophro #adulte li::before {
  content: "\2192";
  color: white;
  margin-right: 1rem;
}

@media only screen and (max-width: 500px) {
  #page-sophro section.personne .illustrationContainer {
    width: 100%;
  }
  #page-sophro section.personne .descriptionContainer {
    padding: 1rem;
  }
  #page-sophro #enfant ul li::before {
    content: "\2192";
    color: white;
    margin-right: .3rem;
  }
  #page-sophro #adulte .descriptionContainer ul {
    width: 90%;
  }
}

#page-sophro .transiContainer {
  width: 100%;
  height: 100vh;
  position: relative;
}

#page-sophro .transiContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#page-sophro .transiContainer p {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  top: 50%;
  font-size: 2rem;
  font-style: italic;
}

@media only screen and (max-width: 500px) {
  #page-sophro .transiContainer {
    height: 40vh;
  }
  #page-sophro .transiContainer p {
    font-size: 1.5rem;
  }
}

#page-sophro #seances {
  width: 80%;
  margin: auto;
}

#page-sophro #seances h2 {
  font-size: 2rem;
}

#page-sophro #seances .intro {
  margin-top: 1.5rem;
}

#page-sophro #seances .intro p {
  text-align: justify;
}

#page-sophro #seances .cards {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page-sophro #seances .card {
  width: 45%;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1rem;
}

#page-sophro #seances #autreSeance li::before {
  content: "\2192";
  margin-right: 1rem;
}

#page-sophro #seances .cardTitle {
  margin-bottom: 1rem;
}

#page-sophro #seances .cardDescription {
  text-align: justify;
}

#page-sophro #seances .cardDescription li {
  margin-bottom: 0.3rem;
}

@media only screen and (max-width: 750px) {
  #page-sophro #seances .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #page-sophro #seances .card {
    width: 100%;
  }
  #page-sophro #seances .card:first-child {
    margin-bottom: 1rem;
  }
}

#page-sophro .pageContent {
  background-color: rgba(227, 197, 148, 0.37);
  padding: 2rem 0;
}

#page-sophro h1 {
  text-align: center;
  font-family: "Dancing Script";
  font-size: 3rem;
}

#page-sophro #intro {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

#page-sophro #intro p {
  text-align: justify;
  margin-bottom: 1rem;
}

#page-sophro #conclu {
  width: 70%;
  margin: auto;
  margin-top: 2rem;
}

#page-sophro #conclu p {
  font-style: italic;
  color: #FFA41B;
  text-align: center;
  font-size: 1.3rem;
}

@media only screen and (max-width: 500px) {
  #page-sophro #intro,
  #page-sophro #seances,
  #page-sophro #enfant,
  #page-sophro #adolescent,
  #page-sophro #adulte,
  #page-sophro #conclu {
    width: 90%;
  }
}
/*# sourceMappingURL=sophroDetail.css.map */