#page-yoga-sophro{
    @import './yoga/header', './yoga/general','./yoga/detail', './yoga/pratique';

    .background{
        background-color:  #8981E5;
    }
    
    .background-secondary{
        background-color: #EAD1AA;
    }
    
    .shadow{
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }
    
}
