#page-yoga #bienfaitsEnfant {
  margin-top: 2rem;
}

#page-yoga #bienfaitsEnfant .subsectionTitle {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#page-yoga #bienfaitsEnfant .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#page-yoga #bienfaitsEnfant .card {
  min-height: 200px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 1rem 0;
  width: 30%;
}

#page-yoga #bienfaitsEnfant .card:first-child {
  background-color: white;
  background-position: left;
}

#page-yoga #bienfaitsEnfant .cardTitle {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 3px white;
}

#page-yoga #bienfaitsEnfant .items {
  width: 70%;
  margin: auto;
}

#page-yoga #bienfaitsEnfant .items li {
  margin-bottom: .5rem;
  list-style-type: circle;
}

@media only screen and (max-width: 990px) {
  #page-yoga #bienfaitsEnfant .card {
    width: 45%;
  }
}

@media only screen and (max-width: 700px) {
  #page-yoga #bienfaitsEnfant .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #page-yoga #bienfaitsEnfant .card {
    width: 60%;
  }
  #page-yoga #bienfaitsEnfant .card:first-child {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  #page-yoga #bienfaitsEnfant .card {
    width: 80%;
  }
}

#page-yoga #initierEnfant {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

#page-yoga #initierEnfant .description {
  text-align: center;
  margin-bottom: 0.5rem;
}

#page-yoga #initierEnfant ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-yoga #initierEnfant li {
  background-color: #EAD1AA;
  border-radius: 10px;
  padding: .5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

#page-yoga #initierEnfant li::before {
  content: '\2192';
  color: white;
  margin-right: 1rem;
}

#page-yoga #enfant .intro {
  width: 80%;
  margin: auto;
}

#page-yoga #particulariteEnfant {
  margin-top: 2rem;
}

#page-yoga #particulariteEnfant .description {
  width: 80%;
  margin: auto;
}

#page-yoga #deroulementEnfant .subsectionTitle {
  margin-top: 2rem;
}

#page-yoga #deroulementEnfant .subsectionIntro {
  width: 80%;
  margin: auto;
}

#page-yoga #deroulementEnfant .introPosture {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

#page-yoga #deroulementEnfant .introPosture h3 {
  font-size: 1.5rem;
  color: #FF5151;
}

#page-yoga #deroulementEnfant .cards {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#page-yoga #deroulementEnfant .card {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 33%;
}

#page-yoga #deroulementEnfant .illustrationContainer {
  width: 100%;
  height: 350px;
}

#page-yoga #deroulementEnfant .illustrationContainer .illustration {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#page-yoga #deroulementEnfant .illustrationContainer .illustration.chat {
  -o-object-position: 20% bottom;
     object-position: 20% bottom;
}

#page-yoga #deroulementEnfant .postureTitle {
  text-align: center;
  padding: .5rem 0;
  background-color: #8981E5;
  color: white;
}

#page-yoga #deroulementEnfant .legend {
  width: 90%;
  margin: auto;
  font-style: italic;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  #page-yoga #deroulementEnfant .cards {
    width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  #page-yoga #deroulementEnfant .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #page-yoga #deroulementEnfant .card {
    width: 60%;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 850px) {
  #page-yoga #deroulementEnfant .card {
    width: 90%;
  }
}

#page-yoga #relaxation,
#page-yoga #respiration {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

#page-yoga #relaxation h3,
#page-yoga #respiration h3 {
  font-size: 1.5rem;
}

#page-yoga #relaxation h3 {
  color: #FFA41B;
}

#page-yoga #respiration h3 {
  color: #FF896B;
}

#page-yoga #adulte .bienfaits {
  margin-top: 2rem;
}

#page-yoga #adulte .bienfaits .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page-yoga #adulte .bienfaits .items li {
  padding: .5rem 0;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  background-color: #EAD1AA;
  text-align: center;
  width: 40%;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 500px) {
  #page-yoga #adulte .bienfaits .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #page-yoga #adulte .bienfaits .items li {
    width: 80%;
  }
}

#page-yoga #historique {
  margin-top: 2rem;
}

#page-yoga #historique p {
  text-align: justify;
  margin-bottom: 1.5rem;
}

#page-yoga #historique .separateur {
  color: #FFA41B;
  text-align: center;
  font-size: 2rem;
}

#page-yoga #adulte .pourqui {
  margin-top: 2rem;
}

#page-yoga .pageContent {
  background-color: #D2CFE5;
  padding: 2rem 0;
  margin: 2rem 0;
}

#page-yoga .pageTitle {
  text-align: center;
  font-family: "Dancing Script";
  font-size: 3em;
  margin-bottom: 3rem;
}

#page-yoga .sectionTitle {
  font-size: 2em;
}

#page-yoga .sectionTitle::before {
  content: '\2756';
  color: white;
  margin-right: 2rem;
}

#page-yoga .subsectionTitle {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#page-yoga #conclusion {
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  font-style: italic;
}

#page-yoga #adulte {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
}
/*# sourceMappingURL=yogaDetail.css.map */