#page-yoga-sophro header.containerCover {
  margin-bottom: 1rem;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-yoga-sophro header.containerCover img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

#page-yoga-sophro header.containerCover h1 {
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  padding-top: 2rem;
}

#page-yoga-sophro .intro {
  padding: 2rem 0;
  /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.45); */
  margin-bottom: 2rem;
}

#page-yoga-sophro .intro h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-weight: lighter;
}

#page-yoga-sophro .intro h2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 20%;
  height: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: black;
}

#page-yoga-sophro .yoga, #page-yoga-sophro .sophro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-yoga-sophro .yoga .card, #page-yoga-sophro .sophro .card {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 0;
  position: relative;
}

#page-yoga-sophro .yoga .card h3, #page-yoga-sophro .yoga .card p, #page-yoga-sophro .sophro .card h3, #page-yoga-sophro .sophro .card p {
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
}

#page-yoga-sophro .yoga .card .btn-yoga, #page-yoga-sophro .sophro .card .btn-yoga {
  width: 30%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-radius: 20px;
  background-color: #464174;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#page-yoga-sophro .yoga .card .btn-yoga:hover, #page-yoga-sophro .sophro .card .btn-yoga:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#page-yoga-sophro .yoga .card .btn-yoga a, #page-yoga-sophro .sophro .card .btn-yoga a {
  display: block;
  color: white;
}

#page-yoga-sophro .yoga .card h3, #page-yoga-sophro .sophro .card h3 {
  text-align: center;
  font-size: 1.5em;
}

#page-yoga-sophro .yoga .card .description, #page-yoga-sophro .sophro .card .description {
  text-align: center;
  font-style: italic;
}

#page-yoga-sophro .yoga .illustration, #page-yoga-sophro .sophro .illustration {
  width: 55%;
  overflow: hidden;
}

#page-yoga-sophro .yoga .illustration:hover img, #page-yoga-sophro .sophro .illustration:hover img {
  width: 150%;
}

#page-yoga-sophro .yoga .illustration img, #page-yoga-sophro .sophro .illustration img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

#page-yoga-sophro .transition {
  margin: 2rem 0;
  overflow: hidden;
}

#page-yoga-sophro .transition img {
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media only screen and (max-width: 900px) {
  #page-yoga-sophro .yoga .card, #page-yoga-sophro .sophro .card {
    padding: 3rem 0;
  }
  #page-yoga-sophro .yoga .card h3, #page-yoga-sophro .yoga .card p, #page-yoga-sophro .sophro .card h3, #page-yoga-sophro .sophro .card p {
    width: 90%;
  }
  #page-yoga-sophro .yoga .card .btn-yoga, #page-yoga-sophro .sophro .card .btn-yoga {
    width: 70%;
  }
}

@media only screen and (max-width: 580px) {
  #page-yoga-sophro .yoga .card, #page-yoga-sophro .sophro .card {
    width: 60%;
  }
  #page-yoga-sophro .yoga .illustration, #page-yoga-sophro .sophro .illustration {
    width: 40%;
  }
  #page-yoga-sophro .yoga {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  #page-yoga-sophro .yoga, #page-yoga-sophro .sophro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #page-yoga-sophro .yoga .card, #page-yoga-sophro .yoga .illustration, #page-yoga-sophro .sophro .card, #page-yoga-sophro .sophro .illustration {
    width: 100%;
    margin: 0;
  }
  #page-yoga-sophro .yoga .card, #page-yoga-sophro .sophro .card {
    margin-bottom: 0.5rem;
  }
  #page-yoga-sophro .yoga .yoga, #page-yoga-sophro .sophro .yoga {
    margin-bottom: 1rem;
  }
  #page-yoga-sophro .sophro .card {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

#page-yoga-sophro .detailTitleContainer {
  padding: 2.5rem 0;
  text-align: center;
  width: 90%;
  margin: auto;
}

#page-yoga-sophro .detailTitleContainer .title {
  font-size: 2.5em;
}

#page-yoga-sophro .tarifContainer {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 2rem auto;
  z-index: 10;
}

#page-yoga-sophro .tarifContainer p {
  text-align: center;
  padding: 0 2rem;
}

#page-yoga-sophro .tarifContainer h3 {
  margin: 3rem 0;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

#page-yoga-sophro .tarifContainer h3::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 1px;
  background-color: black;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#page-yoga-sophro .tarifDetailContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#page-yoga-sophro .tarifDetailContainer li.title {
  text-align: center;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #8981E5;
  color: white;
  font-size: 1.3em;
}

#page-yoga-sophro .more {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#page-yoga-sophro .more img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

#page-yoga-sophro .more .enfant, #page-yoga-sophro .more .adulte {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page-yoga-sophro .more .card {
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -30px;
  padding: 1rem 2rem;
  -webkit-transform-origin: top;
          transform-origin: top;
}

#page-yoga-sophro .more .card h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
}

#page-yoga-sophro .more .card p {
  margin: 1rem 0;
  text-align: justify;
}

#page-yoga-sophro .more .card .btn-yoga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  margin: auto;
}

#page-yoga-sophro .more .card .btn-yoga a {
  display: block;
}

@media only screen and (max-width: 1000px) {
  #page-yoga-sophro .more .card {
    width: 100%;
    margin-top: 1rem;
  }
  #page-yoga-sophro .more .card h3 {
    font-size: 1.3em;
  }
  #page-yoga-sophro .more .card .btn-yoga {
    width: 70%;
  }
}

@media only screen and (max-width: 785px) {
  #page-yoga-sophro .tarifDetailContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #page-yoga-sophro .tarifDetailContainer .tarifAdulte {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 750px) {
  #page-yoga-sophro .more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #page-yoga-sophro .more .enfant, #page-yoga-sophro .more .adulte {
    width: 90%;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  #page-yoga-sophro .tarifContainer {
    width: 100%;
    margin-top: 1rem;
  }
}

#page-yoga-sophro .pratique {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  padding-bottom: 6rem;
  margin-bottom: 2rem;
}

#page-yoga-sophro .pratique h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: lighter;
}

#page-yoga-sophro .pratique .second {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 1rem;
  background-color: #E1CBAA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-yoga-sophro .pratique .second div {
  width: 30%;
  padding: 1rem;
  margin: 0rem 0.5rem;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 840px) {
  #page-yoga-sophro .pratique .second {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #page-yoga-sophro .pratique .second div {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #page-yoga-sophro .pratique .second img {
    margin: 1rem 0;
  }
}

#page-yoga-sophro .background {
  background-color: #8981E5;
}

#page-yoga-sophro .background-secondary {
  background-color: #EAD1AA;
}

#page-yoga-sophro .shadow {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=yoga.css.map */