.violet{
    color : #8981E5;
}
.rouge{
    color : #FF5151;
}
.rose{
    color : #FF896B;
}
.jaune{
    color : #FFA41B;
}

main {
    padding: 0 2rem;
    width: 50%;
}

.background_title {
    background-color: #8981E5;
    padding: 1em 0;
    text-align: center;
    margin: 2rem 0;
}

.outil_description{
    text-align: justify; 
}

.outil_title,
.outil_description {
    margin-bottom: 1rem;
}

.outil_title {
    font-size: 1.5rem;
}

@media only screen and (max-width:1200px) {
    main {
        width: 90%;
        margin: auto;

        section {
            width: 100%;
        }
    }
}